In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/tourism_exp_dest.csv")

In [3]:
df.Purpose.value_counts()

Purpose
Total                     3380
Personal reasons          3150
Professional, business     959
Name: count, dtype: int64

In [4]:
df.Duration.value_counts()

Duration
1 night or over       3231
4 nights or over      2652
From 1 to 3 nights    1606
Name: count, dtype: int64

In [5]:
df.Expenditure_Type.value_counts()

Expenditure_Type
Total excluding durable/valuable goods    5146
Package arrangement                       2343
Name: count, dtype: int64

In [6]:
df = df.loc[(df.Expenditure_Type == "Total excluding durable/valuable goods") & (df.Purpose == "Total")]

In [7]:
df.head(2)

,Year,Origin_Country_Code,Origin_Country,Destination_Country_Code,Destination_Country,Purpose,Duration,Expenditure_Type,Total_Expenditure_EUR,Avg_Exp_per_Trip_EUR,Avg_Exp_per_Night_EUR
198,2019,AL,Albania,AT,Austria,Total,From 1 to 3 nights,Total excluding durable/valuable goods,8.602610e+05,69.57,34.79
199,2019,AT,Austria,AT,Austria,Total,From 1 to 3 nights,Total excluding durable/valuable goods,2.614090e+09,277.12,148.51

In [8]:
df.columns

Index(['Year', 'Origin_Country_Code', 'Origin_Country',
       'Destination_Country_Code', 'Destination_Country', 'Purpose',
       'Duration', 'Expenditure_Type', 'Total_Expenditure_EUR',
       'Avg_Exp_per_Trip_EUR', 'Avg_Exp_per_Night_EUR'],
      dtype='object')

In [9]:
agg = df.groupby(
    ['Year', 'Origin_Country_Code', 'Origin_Country', 'Destination_Country_Code', 'Destination_Country']
).agg({'Total_Expenditure_EUR': 'sum', 'Avg_Exp_per_Trip_EUR': 'mean',  'Avg_Exp_per_Night_EUR': 'mean'}).reset_index()

In [10]:
agg

,Year,Origin_Country_Code,Origin_Country,Destination_Country_Code,Destination_Country,Total_Expenditure_EUR,Avg_Exp_per_Trip_EUR,Avg_Exp_per_Night_EUR
0,2019,AL,Albania,AT,Austria,6.275244e+06,126.166667,28.533333
1,2019,AL,Albania,CH,Switzerland,1.339693e+06,115.970000,32.350000
2,2019,AL,Albania,DE,Germany,1.492818e+07,162.510000,10.340000
3,2019,AL,Albania,EL,Greece,1.192022e+08,160.233333,24.463333
4,2019,AL,Albania,FR,France,6.803330e+06,312.690000,16.260000
...,...,...,...,...,...,...,...,...
972,2022,SK,Slovakia,IT,Italy,3.994999e+08,617.846667,130.656667
973,2022,SK,Slovakia,PL,Poland,7.033455e+07,241.165000,107.145000
974,2022,SK,Slovakia,SK,Slovakia,2.408444e+09,193.423333,52.060000
975,2022,SK,Slovakia,TR,Turkey,2.871710e+08,957.230000,114.790000
976,2022,SK,Slovakia,UK,United Kingdom,3.583938e+07,533.830000,99.500000

In [11]:
agg.to_csv("./data/tourism_exp_dest_agg.csv", index=False)

In [12]:
agg.loc[(agg.Origin_Country == "Austria") & (agg.Destination_Country == "Sweden")]

,Year,Origin_Country_Code,Origin_Country,Destination_Country_Code,Destination_Country,Total_Expenditure_EUR,Avg_Exp_per_Trip_EUR,Avg_Exp_per_Night_EUR
26,2019,AT,Austria,SE,Sweden,175028584.0,1214.20,129.170
549,2022,AT,Austria,SE,Sweden,163631840.0,1632.49,167.115