In [2]:
#import tourism_exp_dest.csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#read csv file
df = pd.read_csv('./data/tourism_exp_dest_1.csv')

df.head()

,Year,Origin_Country_Code,Origin_Country,Destination_Country_Code,Destination_Country,Purpose,Duration,Expenditure_Type,Total_Expenditure_EUR,Avg_Exp_per_Trip_EUR,Avg_Exp_per_Night_EUR
0,2019,CH,Switzerland,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,1.507463e+08,515.43,235.45
1,2019,CZ,Czechia,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,5.708994e+07,201.97,86.65
2,2022,CZ,Czechia,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,5.242496e+07,251.23,99.39
3,2019,DE,Germany,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,1.129304e+09,337.69,139.85
4,2022,DE,Germany,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,1.442022e+09,416.05,179.45

In [3]:
#show me all the columns that the Avg_Exp_per_Trip_EUR is equal to 0
df[df['Avg_Exp_per_Trip_EUR'] == 0]

#remove the rows where Avg_Exp_per_Trip_EUR is equal to 0
df = df[df['Avg_Exp_per_Trip_EUR'] > 100]

In [4]:
#show me all the columns that the Avg_Exp_per_Trip_EUR is less then 100
df[df['Avg_Exp_per_Trip_EUR'] < 100]

Empty DataFrame
Columns: [Year, Origin_Country_Code, Origin_Country, Destination_Country_Code, Destination_Country, Purpose, Duration, Expenditure_Type, Total_Expenditure_EUR, Avg_Exp_per_Trip_EUR, Avg_Exp_per_Night_EUR]
Index: []

In [12]:
#show when subset=['Origin_Country_Code', 'Year', 'Purpose'
df[df['Avg_Exp_per_Trip_EUR'] > 100][['Origin_Country_Code', 'Year', 'Purpose']]
#count dublicates in Origin_Country_Code
df['Origin_Country_Code'].value_counts()

Origin_Country_Code
BE    6
PL    6
IE    6
FI    6
PT    6
CY    6
SE    6
AT    6
SI    6
MT    6
EE    6
NL    6
LU    6
HU    6
HR    6
FR    6
ES    6
DE    6
LT    6
CZ    5
EL    5
LV    4
BG    4
SK    4
RO    4
IT    4
DK    3
AL    3
CH    3
MK    2
Name: count, dtype: int64

In [7]:
#if we have more then one row with the same country name, same year and same purpose of visit, then we will keep the first one and remove the rest
df = df.drop_duplicates(subset=['Origin_Country_Code', 'Year', 'Purpose'], keep='first')

In [8]:
#save the dataframe to a new csv file
df.to_csv('./data/tourism_exp_dest_2.csv', index=False)

In [6]:
import pandas as pd
from io import StringIO

# Read the CSV data into a DataFrame
df = pd.read_csv('data/dest_trips_exp.csv')

# Extract unique country-year combinations
unique_nodes = df.drop_duplicates(subset=['Origin_Country_Code', 'Year'])

# Create nodes with a unique id for each country-year
nodes = unique_nodes.apply(lambda row: {'id': f"{row['Origin_Country_Code']}-{row['Year']}", 'country': row['Origin_Country'], 'year': row['Year']}, axis=1).to_list()

# Initialize an empty list for the links
links = []

# Create a dictionary to sum trips for the links
trips_dict = {}

# Iterate over the DataFrame to populate the trips dictionary
for _, row in df.iterrows():
    # Create a unique key for the link based on origin, destination, and year
    key = (row['Origin_Country_Code'], row['Destination_Country_Code'], row['Year'])
    if key in trips_dict:
        trips_dict[key]['value'] += row['Trips']
    else:
        trips_dict[key] = {
            'source': f"{row['Origin_Country_Code']}-{row['Year']}",
            'target': f"{row['Destination_Country_Code']}-{row['Year']}",
            'value': row['Trips']
        }

# Convert the trips dictionary to a list of links
links = list(trips_dict.values())

# Now, nodes and links are prepared to be used in a D3.js force-directed graph.

In [7]:
#save teh nodes and links to a json file
import json
with open('data/dest_trips_exp.json', 'w') as f:
    json.dump({"nodes": nodes, "links": links}, f, indent=4)