In [21]:
#import tourism_exp_dest.csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#read csv file
df = pd.read_csv('./data/tourism_exp_dest_1.csv')

df.head()

,Year,Origin_Country_Code,Origin_Country,Destination_Country_Code,Destination_Country,Purpose,Duration,Expenditure_Type,Total_Expenditure_EUR,Avg_Exp_per_Trip_EUR,Avg_Exp_per_Night_EUR
0,2019,CH,Switzerland,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,1.507463e+08,515.43,235.45
1,2019,CZ,Czechia,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,5.708994e+07,201.97,86.65
2,2022,CZ,Czechia,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,5.242496e+07,251.23,99.39
3,2019,DE,Germany,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,1.129304e+09,337.69,139.85
4,2022,DE,Germany,AT,Austria,Personal reasons,From 1 to 3 nights,Total excluding durable/valuable goods,1.442022e+09,416.05,179.45

In [22]:
#show me all the columns that the Avg_Exp_per_Trip_EUR is equal to 0
df[df['Avg_Exp_per_Trip_EUR'] == 0]

#remove the rows where Avg_Exp_per_Trip_EUR is equal to 0
df = df[df['Avg_Exp_per_Trip_EUR'] > 100]

In [27]:
#show me all the columns that the Avg_Exp_per_Trip_EUR is less then 100
df[df['Avg_Exp_per_Trip_EUR'] < 100]

Empty DataFrame
Columns: [Year, Origin_Country_Code, Origin_Country, Destination_Country_Code, Destination_Country, Purpose, Duration, Expenditure_Type, Total_Expenditure_EUR, Avg_Exp_per_Trip_EUR, Avg_Exp_per_Night_EUR]
Index: []

In [24]:
#remove the rows where Origin country is the same as destination country
df = df[df['Origin_Country'] != df['Destination_Country']]

In [26]:
#save the dataframe to a new csv file
df.to_csv('./data/tourism_exp_dest_2.csv', index=False)